#app {
    font-family: 'Arimo', sans-serif;
}
#app .jumbotron {
    font-family: 'Yeseva One', cursive;
    background-color: #003;
    color: #fff;
    position: relative;
}
#app .panel-heading {
    font-family: 'Yeseva One', cursive;
    background-color: #9c992e;
    color: #fff;
}
#app .list-group-item {
    overflow: visible;
}
#app .btn.btn-primary {
    background-color: #5a104e;
    border-color: #2b0825;
    margin-top: 10px;
}
#app .btn.btn-primary:hover {
    background-color: #752367;
    border-color: #2b0825;
}
#app li a.articleLink {
    font-weight: bold;
    font-size: 120%;
}
#app li img.articleImage {
    float: left;
    margin: 0 15px 5px 0;
    max-width: 190px;
}
#app .savedArticleInfo {
    text-align: right;
    max-width: 35%;
    background-color: #eee;
    padding: 2px 5px;
    margin: -5px -10px 0 3px;
}
#app .dateSaved {
    font-style: italic;
    font-size: small;
    color: #888;
}
#app .saveButtonHolder {
    display: block;
    position: absolute;
    right: 0;
}
#app .saveButtonHolder textarea {
    z-index: 100;
    display: none;
}
#app nav {
    right: 6px;
    position: absolute;
    top: 6px;
}
#app nav a.navItem {
    color: #c6e4f5;
    margin: 5px;
    font-size: large;
    background-color: #3b8fbf;
    padding: 5px 17px;
    display: block;
    border-radius: 4px;
}
@media screen and (max-width: 660px) {
    #app nav a.navItem {
        display: inline;
        font-size: small;
        border-radius: 2px;
    }
}